<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cgtin.admin.sherazipetshopkimo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".StartActivities.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCHyudZPQWuPIfDZIxPixJd22t5T9auzfM" />

        <activity
            android:name=".StartActivities.IntroSplash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartActivities.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartActivities.SignUp"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.PetFood"
            android:label="@string/title_activity_pet_food"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.Food_Accessories"
            android:label="@string/title_activity_food__accessories"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.Brands"
            android:label="@string/title_activity_brands"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.ProductsList"
            android:label="@string/title_activity_products_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.CartActivity"
            android:label="@string/title_activity_cart"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.AddressActivity"
            android:label="@string/title_activity_address"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.Payments"
            android:label="@string/title_activity_payments"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.MyOrders"
            android:label="@string/title_activity_my_orders"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.AddressActivityList"
            android:label="@string/title_activity_address_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.AddressAddActivity"
            android:label="@string/title_activity_address_add"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.Orderconfirmation"
            android:label="@string/title_activity_orderconfirmation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.OrderDetailsActivity"
            android:label="@string/title_activity_order_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".HomeActivity.MyAccount"
            android:label="@string/title_activity_my_account"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartActivities.ForgotPassword"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.ChangePassword"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.ChangeEmail"
            android:label="@string/title_activity_change_email"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.ChangeMobile"
            android:label="@string/title_activity_change_mobile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.ProductDetails"
            android:label="@string/title_activity_product_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.PlacePickerActivity"
            android:label="@string/title_activity_place_picker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.NotificatinDetails"
            android:label="@string/title_activity_notificatin_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartActivities.LanguageChoose"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.ChangeLanguage"
            android:label="@string/title_activity_change_language"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartActivities.RegisterOtp"
            android:label="@string/title_activity_register_otp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity.GalleryView"
            android:label="@string/title_activity_gallery_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>